<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'Empresas', publico_empresas_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Produtos', publico_produtos_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Ambientes', publico_ambientes_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Clientes', publico_clientes_path, class: 'nav-link' %></li>

